{#
  /**
  * @file
  * Default theme implementation to display userpaneltemplate.
  *
  * Available variables:
  * - foo: Foo variable description.
  *
  * @see template_preprocess_userpaneltemplate()
  *
  * @ingroup themeable
  */
#}
<div class="wrapper-class">
  <section class="user-info">
    <h3>
      User Info
    </h3>
    <ul>
      <li>
        <strong>
          Name:
        </strong>
        {{ user.name }}
      </li>
      <li>
        <strong>
          Email:
        </strong>
        {{ user.email }}
      </li>
      <li>
        <strong>
          ID:
        </strong>
        {{ user.id }}
      </li>
      <li>
        <strong>
          Role:
        </strong>
        {{ user.role }}
      </li>
      <li>
        <strong>
          Status:
        </strong>
        {{ user.status }}
      </li>
      <li>
        <strong>
          Token:
        </strong>
        {{ token }}
      </li>
    </ul>
  </section>
</div>

<style>
.wrapper-class {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.wrapper-class h2, .wrapper-class h3 {
  margin-top: 0;
}

.user-info ul {
  list-style: none;
  padding-left: 0;
}

.user-info li {
  margin-bottom: 5px;
}
</style>
