<div class="moneylink-perfil">
  <h2>{{ 'User Profile'|t }}</h2>
  
  <div class="profile-info">
    <div class="profile-field">
      <label>{{ 'Name'|t }}:</label>
      <span>{{ user_data.name }}</span>
    </div>

    <div class="profile-field">
      <label>{{ 'Email'|t }}:</label>
      <span>{{ user_data.email }}</span>
    </div>

    <div class="profile-field">
      <label>{{ 'Role'|t }}:</label>
      <span>{{ user_data.role }}</span>
    </div>
  </div>
</div>
